/*============
Page variables
==============*/
:root {
  /*color scheme*/
  --darkest-colour: #22223b; /*Dark Navy Blue*/
  --dark-colour: #4a4e69; /*Light Navy Blue*/
  --neutral-colour: #c9ada7; /*Peach*/
  --light-colour: #9a8c98; /*Mauve*/
  --lightest-colour: #f2e9e4; /*offwhite*/

  /*font and text*/
  --header-font: "BioRhyme", serif;
  --text-font: "Saira", sans-serif;
  --code-font: "Space Mono", monospace;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*===============================
Global styles and reset defaults
================================*/

body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*reset default font - never shall Time New Roman be seen again!*/

h1,
h3,
h5 {
  font-family: var(--header-font), Verdana, sans-serif;
}

p,
li,
figcaption {
  font-family: var(--text-font), Verdana, sans-serif;
  font-size: 1.25rem;
}

code {
  font-family: var(--code-font), "Courier New", monospace;
  font-size: 1rem;
}

/*================
Page Layout - Grid
=================*/

body {
  background-color: var(--darkest-colour, #22223b);
  color: var(--light-colour, #9a8c98);
  max-width: 2500px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
/*=====
Header 
=======*/
#top-header {
  grid-area: header;
  background-color: var(--lightest-colour, #f2e9e4);
  color: var(--darkest-colour, #22223b);
  border: 10px solid black;
}

#top-header h1 {
  font-size: 3em;
  text-align: center;
}

/*=======
Nav Menu
=========*/

nav {
  grid-area: nav;
}

nav #nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 5px;
}

nav #nav-bar li {
  flex: 1 0 150px;
  border: 3px solid var(--lightest-colour, #f2e9e4);
  margin: 5px;
  padding: 5px;
  text-align: center;
}

nav #nav-bar .nav-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: var(--lightest-colour, #f2e9e4);
  font-size: 1.25em;
}

/*==========================
Main and Section containers
===========================*/

main {
  grid-area: main;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

main section {
  margin: 10px;
  padding: 0;
  background-color: var(--lightest-colour, #f2e9e4);
  color: var(--darkest-colour, #22223b);
  border: 5px solid black;
}

section header {
  margin: 0;
  border-bottom: 5px solid black;
}

section header h3 {
  padding-left: 5px;
  font-size: 1.75em;
}

section .sect-content-box {
  margin: 0;
  padding: 0;
}

section p {
  padding: 0.3em;
}

section .content-box-text {
  padding: 0.3em;
}

section .content-box-code code {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.3em;
}

section .content-box-code code .code-box-comment {
  font-style: italic;
  font-weight: 600;
}

section .content-box-text ul {
  padding-left: 1em;
  margin-left: 1em;
}

section #index-list {
  margin-bottom: 0.5em;
  list-style: none;
}

section #index-list a {
  text-decoration: none;
  color: inherit;
  margin-left: 1em;
  font-weight: 600;
}

section #index-list a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

figure {
  margin: 0.3em;
  background-color: var(--darkest-colour, #22223b);
  border: 0.3em solid black;
  color: var(--lightest-colour, #f2e9e4);
}

figure figcaption {
  margin: 0;
  background-color: black;
  padding-left: 0.3em;
  color: var(--lightest-colour, #f2e9e4);
}

figure div {
  background-color: var(--lightest-colour, #f2e9e4);
  color: var(--darkest-colour, #22223b);
  border: 2px solid black;
  margin: 0.5em;
  padding: 0.3em;
}

figure .example-boxes {
  height: 150px;
  position: relative;
}

figure .example-boxes .cite {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-family: var(--code-font);
  font-size: 0.8em;
}

section .sect-content-box-subsection {
  margin: 0.3em;
  background-color: var(--darkest-colour, #22223b);
  border: 0.3em solid black;
  color: var(--lightest-colour, #f2e9e4);
}

section .sect-content-box-subsection .subsection-header {
  margin: 0;
  background-color: var(--lightest-colour, #f2e9e4);
  color: var(--darkest-colour, #22223b);
}

section .sect-content-box-subsection .subsection-header h5 {
  font-size: 1.25em;
  padding-left: 0.3em;
  border-bottom: 0.2em solid black;
}

.sect-content-box-subsection .sect-content-box {
  margin: 0.3em;
  background-color: var(--lightest-colour, #f2e9e4);
  border: 0.3em solid black;
  color: var(--darkest-colour, #22223b);
}

.sect-content-box-subsection .sect-content-box .mini-header {
  text-decoration: underline;
  font-weight: bold;
}

.sect-content-box-subsection .sect-content-box ol,
.sect-content-box-subsection .sect-content-box ul {
  margin-left: 2em;
  padding-left: 1em;
}

.sect-content-box-subsection .mini-subindex a {
  color: inherit;
  padding: 0.3em;
}
/*=========================
Code example figure boxes
===========================*/

/*solid background colour*/
#example-bg-color {
  background-color: var(--dark-colour);
}

/*background image covering entire container*/
#example-bg-img {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
}

/*colourful example linear gradient for section intro*/
#example-bg-img-grad-intro {
  background-color: var(--dark-colour);
  background-image: linear-gradient(to bottom, orange, blue, white);
}

/*2 colour linear gradient from top to bottom */
#example-bg-img-grad-top-bottom-2col {
  background-image: linear-gradient(to bottom, blue, white);
}

/*3 colour linear gradient from left to right */
#example-bg-img-grad-lefttoright-3col {
  background-image: linear-gradient(to right, blue, white, purple);
}

/*4 colour diagonal linear gradient*/
#example-bg-img-grad-topleft-4col {
  background-image: linear-gradient(to top left, blue, white, purple, yellow);
}

/*5 colour linear gradient*/
#example-bg-img-grad-0deg-5col {
  background-image: linear-gradient(0deg, blue, white, purple, yellow, green);
}

/*6 colour linear gradient*/
#example-bg-img-grad-90deg-6col {
  background-image: linear-gradient(
    90deg,
    blue,
    white,
    purple,
    yellow,
    green,
    orange
  );
}

/*7 colour linear gradient*/
#example-bg-img-grad-180deg-7col {
  background-image: linear-gradient(
    180deg,
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black
  );
}

/*3 colour diagonal linear gradient*/
#example-bg-img-grad-125deg-3col {
  background-image: linear-gradient(125deg, blue, white, purple);
}

/*3 colour diagonal linear gradient*/
#example-bg-img-grad-270deg-3col {
  background-image: linear-gradient(270deg, blue, white, purple);
}

/*2 colour repeating linear gradient*/
#example-bg-img-grad-rep {
  background-image: repeating-linear-gradient(
    0deg,
    blue,
    white 20%,
    purple 10%
  );
}

/*3 colour elliptical radial gradient*/
#example-bg-img-grad-rad-3col {
  background-image: radial-gradient(blue, white, purple);
}

/*3 colour circular radial gradient*/
#example-bg-img-grad-rad-circle-3col {
  background-image: radial-gradient(circle, blue, white, purple);
}

/*3 colour repeating radial gradient*/
#example-bg-img-grad-rad-repeat-3col {
  background-image: repeating-radial-gradient(blue, white 10%, purple 20%);
}

/*radial gradient using closest-side*/
#example-bg-img-grad-rad-closest-side {
  background-image: radial-gradient(circle closest-side, blue, white, purple);
}

/*radial gradient using closest-side by degrees*/
#example-bg-img-grad-rad-closest-side-deg {
  background-image: radial-gradient(
    circle closest-side at 70% 25%,
    blue,
    white,
    purple
  );
}

/*radial gradient using farthest-side*/
#example-bg-img-grad-rad-farthest-side {
  background-image: radial-gradient(circle farthest-side, blue, white, purple);
}

/*radial gradient using farthest-side by degrees*/
#example-bg-img-grad-rad-farthest-side-deg {
  background-image: radial-gradient(
    circle farthest-side at 25% 50%,
    blue,
    white,
    purple
  );
}

/*radial gradient using closest-corner*/
#example-bg-img-grad-rad-closest-corner {
  background-image: radial-gradient(circle closest-corner, blue, white, purple);
}

/*radial gradient using closest-corner by degrees*/
#example-bg-img-grad-rad-closest-corner-deg {
  background-image: radial-gradient(
    circle closest-corner at 50% 25%,
    blue,
    white,
    purple
  );
}

/*radial gradient using farthest-corner*/
#example-bg-img-grad-rad-farthest-corner {
  background-image: radial-gradient(
    circle farthest-corner,
    blue,
    white,
    purple
  );
}

/*radial gradient farthest farthest-corner by degrees*/
#example-bg-img-grad-rad-farthest-corner-deg {
  background-image: radial-gradient(
    circle farthest-corner at 70% 25%,
    blue,
    white,
    purple
  );
}

/*radial gradient with circle starting at top*/
#example-bg-img-grad-rad-c-top {
  background-image: radial-gradient(
    circle at top,
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black
  );
}

/*radial gradient with circle starting at top right*/
#example-bg-img-grad-rad-c-topright {
  background-image: radial-gradient(
    circle at top right,
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black
  );
}

/*radial gradient with circle starting at right*/
#example-bg-img-grad-rad-c-right {
  background-image: radial-gradient(
    circle at right,
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black
  );
}

/*radial gradient with circle starting at bottom*/
#example-bg-img-grad-rad-c-bottom {
  background-image: radial-gradient(
    circle at bottom,
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black
  );
}

/*radial gradient with circle starting at left*/
#example-bg-img-grad-rad-c-left {
  background-image: radial-gradient(
    circle at left,
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black
  );
}

/*3 color linear gradient with stops*/
#example-bg-img-lin-colstop {
  background-image: linear-gradient(to right, blue 5%, white 30%, purple);
}

/*3 color circular radial gradient with stops*/
#example-bg-img-rad-colstop {
  background-image: radial-gradient(circle, blue 5%, white 25%, purple);
}

/*Circular container for the conical examples*/
.conehead {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
  border: solid 3px black;
}

/*2 colour conical gradient*/
#example-bg-img-con-grad {
  background-image: conic-gradient(blue, purple);
}

/*conical gradient with set center point*/
#example-bg-img-con-grad-set-center {
  background-image: conic-gradient(at 30% 60%, blue, purple);
}

/*conical gradient with set starting angle*/
#example-bg-img-con-grad-set-angle {
  background-image: conic-gradient(from 20deg, blue, purple);
}

/*conical gradient with set center and starting angle*/
#example-bg-img-con-grad-set-centerangle {
  background-image: conic-gradient(from 120deg at top, blue, purple);
}

/*conical gradient with percentages instead of degrees*/
#example-bg-img-con-grad-set-per {
  background-image: conic-gradient(blue 60%, white, purple);
}

/*conical gradient with end colour set by turn*/
#example-bg-img-con-grad-set-endturn {
  background-image: conic-gradient(blue 130deg, purple 1turn);
}

/*pie chart with conical gradient*/
#example-bg-img-con-grad-pie {
  background-image: conic-gradient(red 40%, yellow 0 70%, green 0);
}

/*colour wheel with conical gradient*/
#example-bg-img-con-grad-wheel {
  background-image: conic-gradient(
    blue,
    white,
    purple,
    yellow,
    green,
    orange,
    black,
    blue
  );
}

/*background-image with repeat*/
#example-bg-img-rep {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
}

/*background-image with no repeat*/
#example-bg-img-norep {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  background-repeat: no-repeat;
}

/*background-image with repeat-x*/
#example-bg-img-repx {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  background-repeat: repeat-x;
}

/*background position by pixel*/
#example-bg-img-pos-pix {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 5px;
}

/*background position by keyword*/
#example-bg-img-pos-word {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

/*background attachment in fixed position*/
#example-bg-img-fixed {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  color: var(--lightest-colour, #f2e9e4);
  text-align: center;
  height: 150px;
  overflow-y: scroll;
}

/*background attachment in local position*/
#example-bg-img-local {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: local;
  color: var(--lightest-colour, #f2e9e4);
  text-align: center;
  height: 150px;
  overflow-y: scroll;
}

/*background image with set size*/
#example-bg-img-sized {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: 150px 100px;
  background-repeat: no-repeat;
  background-position: top center;
}
/*background image with size set to cover*/
#example-bg-img-size-cover {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*background image with size set to cover*/
#example-bg-img-size-contain {
  background-color: var(--dark-colour);
  background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.example-boxes-clip {
  border: 0.75rem solid black;
  padding: 0.5rem;
}
.example-boxes-clip .clip-box {
  padding: 1rem;
  border: 0.75rem dashed black;
  background-color: var(--dark-colour);
}

/*background clipped to border*/
#example-bg-clip-border {
  background-clip: border-box;
}

/*background clipped to padding*/
#example-bg-clip-pad {
  background-clip: padding-box;
}

/*background clipped to content*/
#example-bg-clip-content {
  background-clip: content-box;
}

/*background clipped to text*/
#example-bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
}

/*====
Footer
=======*/
footer {
  grid-area: footer;
}
/*================
Responsivesnness
==================*/

/*

@media only screen and (min-width: 550px) {
}

@media only screen and (min-width: 1024px) {
}

*/
/*======================
Ye Olde Time Print View
========================*/

@media print {
  /*reset colours and borders*/

  body * {
    background-color: none;
    color: #000;
    box-shadow: none;
  }

  /*font size - change px to pt*/
  h1 {
    font-size: 18pt;
    text-shadow: none;
  }

  h3 {
    font-size: 16pt;
    text-shadow: none;
  }

  h5 {
    font-size: 14pt;
    text-shadow: none;
  }

  p,
  li,
  dt,
  dd,
  code,
  abbr {
    font-size: 12pt;
  }

  /*remove unneeded elements*/

  /*display footer links*/

  footer a:link {
    color: #000;
    margin: 0;
    display: block;
    font-size: 10pt;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
/*=============
Accessibility
===============*/
/*
@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}

*/

/*Reset to user browser preference*/

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}
