/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/
  --page-background-colour: #22223b; /*Dark Navy Blue*/
  --section-background-colour: #4a4e69; /*Light Navy Blue*/
  --border-colour: #c9ada7; /*Peach*/
  --header-colour: #9a8c98; /*Mauve*/
  --text-colour: #f2e9e4; /*offwhite*/

  /*font and text*/
  --header-font: font-family: 'BioRhyme', serif;
  --text-font: font-family: 'Saira', sans-serif;
  --code-font: font-family: 'Space Mono', monospace;
  
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 12px; /*mobile first design - change to 16px for views >1024px*/
  background-color: var(--page-background-colour);
  color: var(--text-colour);
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*====================
Text and Font Styling
=====================*/

/*reset default font - never shall Time New Roman be seen again!*/

h1,
h3,
h5,
p,
li,
figcaption {
  font-family: var(-- --text-font), Verdana, sans-serif;
}

/*=========
Grid Layout
===========*/

/*======
Nav Menu
=======*/
nav {
}

#nav-bar {
}

.nav-bar-button {
}

/*==========================
Main and Section containers
===========================*/

main {
}

section {
}

.sect-header {
}

.sect-content-box {
}

.sect-content-box .content-box-text {
}

.sect-content-box .content-box-code {
}

.sect-content-box .content-box-code p {
}

.sect-content-box .content-box-code code {
}

.sect-content-box .content-box-code-example {
}

.sect-content-box-subsection {
}

.sect-content-box-subsection .subsection-header {
}

.sect-content-box-subsection .mini-header {
}

/*================
Responsivesnness
==================*/



@media only screen and (min-width: 1024px) {
  body {
   font-size: 16px;
  }
}

/*
@media only screen and (min-width: 500px) {

}
*/

/*======================
Ye Olde Time Print View
========================*/

@media print {
  /*reset colours and borders*/

  body * {
    background-color: none;
    color: #000;
    box-shadow: none;
  }

  /*font size - change px to pt*/
  h1 {
    font-size: 18pt;
    text-shadow: none;
  }

  h3 {
    font-size: 16pt;
    text-shadow: none;
  }

  h5 {
    font-size: 14pt;
    text-shadow: none;
  }

  p,
  li,
  dt,
  dd,
  code,
  abbr {
    font-size: 12pt;
  }

  /*remove unneeded elements*/

  /*display footer links*/

  footer a:link {
    color: #000;
    margin: 0;
    display: block;
    font-size: 10pt;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
/*=============
Accessibility
===============*/

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}

/*Reset to user browser preference*/

@media (prefers-reduced-motion: reduce) {
  scroll-behavior: auto;
}
